
{% extends 'layout.html' %}


   <!-- masonry
   ================================================== -->
{% block content %}

   <section id="bricks">

<h3 style="margin-left: 25px;" >Search Result : {{ totalresult }}</h3>


   	<div class="row masonry">

   		<!-- brick-wrapper -->
         <div class="bricks-wrapper">

         	<div class="grid-sizer"></div>


{% for post in result %}
 {% if post.type == 'Public' %}

<article class="brick entry format-gallery group animate-this">

               <div class="entry-thumb">

                  <div class="post-slider flexslider">
							<ul class="slides">
								<li>
									<img src="{{ post.thumbnail }}"> 
								</li>
							</ul>							
						</div> 

               </div>

               <div class="entry-text">
               	<div class="entry-header">

               		<div class="entry-meta">
               			<span class="cat-links">
               				<a href="#">Branding</a> 
               				<a href="#">Wordpress</a>               				
               			</span>			
               		</div>

            		<h1 class="entry-title"><a href="/blog/{{ post.id }}/{{ post.title|slugify }}">{{ post.title }}</a></h1>
               		
               	</div>
						<div class="entry-excerpt">
							{{ post.body|slice:"0:150" }}<a href="/blog/{{ post.id }}/"><h3><strong>...</strong></h3></a>
						</div>
               </div>
               
        		</article> <!-- end article -->

        
{% endif %}
{% endfor %}

<article class="brick entry animate-this">

               <div class="entry-thumb">
                  <a href="single-standard.html" class="thumb-link">
	                  <img src="http://bit.ly/2TSSFDl" alt="Liberty">                      
                  </a>
               </div>

               <div class="entry-text">
               	<div class="entry-header">

               		<div class="entry-meta">
               			<span class="cat-links">
               				<a href="#">Branding</a> 
               				<a href="#">html</a>                	
               			</span>			
               		</div>

               		<h1 class="entry-title"><a href="#">Designing With Black and White.<b>(static post)</b></a></h1>
               		
               	</div>
						<div class="entry-excerpt">
							Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
						</div>
               </div>
               
        		</article> <!-- end article -->

		<article class="brick entry format-link animate-this">

               <div class="entry-thumb">
                  <div class="link-wrap">
	                 	<p>Looking for affordable &amp; reliable web hosting? We recommend Dreamhost.</p>
	                 	<cite>
	                 		<a target="_blank" href="http://www.dreamhost.com/r.cgi?287326">http://www.dreamhost.com</a>
	                 	</cite>
	               </div>	
               </div>               
               
        		</article> <!-- end article -->



         </div> <!-- end brick-wrapper --> 

   	</div> <!-- end row -->

   	<div class="row">
   		
   		<nav class="pagination">
		      <span class="page-numbers prev inactive">Prev</span>

{% for num in result.paginator.page_range %}
		   	<a href="{{ request.get_full_path }}&p={{ num }}" class="page-numbers">{{ num }}</a>

{% endfor %}
		      <!--a href="#" class="page-numbers">3</a-->

		   	<a href="#" class="page-numbers next">Next</a>
	      </nav>

   	</div>

   </section> <!-- end bricks -->

   
   <!-- footer
   ================================================== -->
{% endblock %}



