
{% extends 'layout.html' %}


{% block content %}

<!-- end header -->


   <!-- content
   ================================================== -->


{% for blog in post %}

   <section id="content-wrap" class="blog-single">
   	<div class="row">
   		<div class="col-twelve">

   			<article class="format-gallery">  

   				<div class="content-media">
						<div class="post-slider flexslider">
							<ul class="slides">
								<li>
									<img src="{{ blog.thumbnail }}"> 
								</li>
								

							</ul>							
						</div> 
					</div>

					<div class="primary-content">

						<h1 class="entry-title">
{{ blog.title }}


</h1>	

						<ul class="entry-meta">
							<li class="date">{{ blog.date }}</li>						
							<li class="cat"><a href="">Wordpress</a><a href="">Design</a></li>				
						</ul>						


<ul class="entry-meta">
							<li class="date">Share : </li>						
							<li class="cat">
<a href="#"> <i class="fa fa-facebook"></i> Facebook | </a>
<a href=""><i class="fa fa-twitter"></i> Twitter | </a> 
<a href="#"> <i class="fa fa-linkedin"></i> LinkedIn | </a>
<a href=""><i class="fa fa-whatsapp"></i> WhatsApp  </a>

</li>				
						</ul>

						
						<p class="lead">{{ blog.body }}</p> 

						<p class="tags">
		  			     	<span>Tagged in :</span>
		  				  	<a href="#">orci</a><a href="#">lectus</a><a href="#">varius</a><a href="#">turpis</a>
		  			   </p>

		  			   <div class="author-profile">
		  			   	<img src="http://bit.ly/2TSSFDl" alt="">

		  			   	<div class="about">
		  			   		<h4><a href="#">Jonathan Smith</a></h4>
		  			   	
		  			   		<p>Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat impedit laudantium magni maxime nihil nisi quidem quisquam sed ullam voluptas voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		  			   		</p>


{% endfor %}





		  			   		<ul class="author-social">
{% for sociallinks in social %}
	      			<li><a href="{{ sociallinks.link }}" target="_blank">{{ sociallinks.name }}</a></li>
				
{% endfor %}
		  			   		</ul>
		  			   	</div>
		  			   </div> <!-- end author-profile -->						

					</div> <!-- end entry-primary -->		  			   

	  			   <div class="pagenav group">
		  			   <div class="prev-nav">
		  			   	<a href="#" rel="prev">
		  			   		<span>Related</span>
		  			   		Tips on Minimalist Design 
		  			   	</a>
		  			   </div>
		  				<div class="next-nav">
		  					<a href="#" rel="next">
		  						<span>Related</span>
		  			   		Less Is More 
		  					</a>
		  				</div>  				   
	  				</div>

				</article>
   		

			</div> <!-- end col-twelve -->
   	</div> <!-- end row -->

		<div class="comments-wrap">
			<div id="comments" class="row">
				<div class="col-full">

               <h3>{{ comments.count }} Comments</h3>

               <!-- commentlist -->
               <ol class="commentlist">


{% for comment in comments %}

  <li class="depth-1">

                     <div class="avatar">
                       
{% load static %}
<img width="50" height="50" class="avatar" src="{% static 'images/avatars/user.png' %}" alt="">
                     </div>

                     <div class="comment-content">

	                     <div class="comment-info">
	                        <cite>{{ comment.name }}</cite>

	                        <div class="comment-meta">
	                           <time class="comment-time" datetime="2014-07-12T25:15">{{ comment.datetime }}</time>
	                           <!--span class="sep">/</span><a class="reply" href="#">Reply</a-->
	                        </div>
	                     </div>

	                     <div class="comment-text">
	                        <p>{{ comment.comment }}</p>
	                     </div>

                     </div>

                  </li>


{% endfor %}










                  <li class="depth-1">

                     <div class="avatar">
                        <img width="50" height="50" class="avatar" src="http://bit.ly/2TSSFDl" alt="">
                     </div>

                     <div class="comment-content">

	                     <div class="comment-info">
	                        <cite>Admin</cite>

	                        <div class="comment-meta">
	                           <time class="comment-time" datetime="2014-07-12T25:15">July 12, 2014 @ 25:15</time>
	                           <!--span class="sep">/</span><a class="reply" href="#">Reply</a-->
	                        </div>
	                     </div>

	                     <div class="comment-text">
	                        <p>it's a default comments. Thank You for visit our website.</p>
	                     </div>

                     </div>

                  </li>

               </ol> <!-- Commentlist End -->					

               <!-- respond -->
               <div class="respond">

               	<h3>Leave a Comment</h3>

                  <form name="commentForm" id="commentForm" method="post" action="/comment_submit">{% csrf_token %}
  					   <fieldset>

                     <div class="form-field">
  						      <input name="cName" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                     </div>

                     <div class="form-field">
  						      <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
                     </div>

                     <div class="form-field">
  						      <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="Website"  value="">
                     </div>

                     <div class="message form-field">
                        <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message" ></textarea>
                     </div>
<input type="hidden" value="{{ postId }}" name="postId">

<input type="hidden" value="{{ request.get_full_path }}" name="titleinurl">

                     <button type="submit" class="submit button-primary">Submit</button>

  					   </fieldset>
  				      </form> <!-- Form End -->




<!-- ######### From.Ajax Script #### -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>


<script>

$("#commentForm").on("submit", function(){

$.ajax({
url: '/comment_submit',
type: 'POST',
data: $(this).serialize(),
success: function(data){

swal("Thanks For You Comment!", "This Comment Will Showed On Page Refresh", "success");

},
error: function(e){
swal("Sorry !", "Something wrong here", "error");

}

});

return false;
//alert("Submitted");


});


</script>

<!-- End Of from Ajax Script -->




               </div> <!-- Respond End -->

         	</div> <!-- end col-full -->
         </div> <!-- end row comments -->
		</div> <!-- end comments-wrap -->

   </section> <!-- end content -->


   <!-- footer
   ================================================== -->

{% endblock %}
   